name: Docs

env:
  # Current supported uv version. The uv documentation recommends pinning
  # this. The version should match the version used in .pre-commit-config.yaml
  # and frozen in uv.lock.
  UV_VERSION: "0.10.5"

"on":
  push:
    branches:
      - "main"
      - "tickets/**"
    paths:
      - "docs/**"
      - "src/**.py"
      - "CHANGELOG.md"
  release:
    types: [published]

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: ${{ env.UV_VERSION }}

      - name: Install graphviz
        run: |
          sudo apt-get update
          sudo apt-get install graphviz

      - name: Run tox
        run: uv run --only-group=tox tox run -e docs

      - name: Upload documentation
        uses: lsst-sqre/ltd-upload@v1
        with:
          project: "noteburst"
          dir: "docs/_build/html"
          username: ${{ secrets.LTD_USERNAME }}
          password: ${{ secrets.LTD_PASSWORD }}
